@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font: normal 100%/1.5;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    background-color: #000;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.img-flex {
    display: block;
    width: 100%;
}

.clock-face {
    background-image: url(../images/clock-face.svg);
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.main {
    text-align: center;
}

.btn {
    border-radius: 50%;
    width: 6em;
    margin: 1em;
    color: #fff;
    line-height: 6em;
    text-decoration: none;
    transition: all .3s linear;
    font-family: sans-serif;
}

.btn-forwards {
    display: inline-block;
    background-color: green; 
}

.btn-forwards:hover {
    background-color: #fff;
    color: #000;
}

.btn-backwards {
    display: inline-block;
    background-color: red;
}

.btn-backwards:hover {
    background-color: #fff;
    color: #000;
}

.center {
    width: 28px;
    position: absolute;
    bottom: calc(50% - 14px); 
    left: calc(50% - 14px);
}

.hand {
    width: 14px;
    bottom: 50%; 
    left: calc(50% - 7px);
    transform-origin: center bottom;
    transition: 6s;  
}

.hand-minute {
    position: absolute;
}

.hand-hour {
    position: absolute;
}

.clock-face:target .hand-hour {
    transform: rotate(360deg);
}

.clock-face:target .hand-minute {
    transform: rotate(4320deg);
}
